#Remove this line before deploying

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1877805099:AAFj-a3Dz5v_e30IlurkEc3j4YtBSEMVFXE"
OWNER_ID =1151877301
TELEGRAPH_TOKEN = "71b74cdf7e0124e11ec76679cd1cff1a521ef7b12999c9e1b75e7689f8d5"
